
 *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
 }

.container{
  width: 80vw;
  background-color: bisque;
  margin:0 auto;
}


nav{
  background-color: blanchedalmond;
  width: 100vw;
  height: 10vh;
}